```{=html}
<% items.sort(function(a,b){return b.year - a.year + 0.1*(a.priority - b.priority)}) %>
<% var currentYear = 0 %>
<div class="list pub-list">
    <% for (const pub of items) { %>
    
    <% var pubYear = pub.year %>
    <% if (pubYear != currentYear) { %>
            <% currentYear = pubYear %> 
            <h2><%= currentYear %></h2>
    <% } %>  
    <div class="pub" <%= metadataAttrs(pub) %>> 
        <div class="thumbnail">
            <img src="pubs/<%= pub.image %>" alt="<%= pub.title %>" title="<%= pub.title %>" />
        </div>
        <div class="body">
            <a href="<%- pub.url %>"><%= pub.title %></a>
            <br>
            <span class="listing-authors">
                <% for (var i = 0; i < pub.authors.length; i++) { %>
                    <% if (i < pub.authors.length-2) { %>
                        <% var sep = "," %>
                    <% } else if (i == pub.authors.length-2) {%>
                        <% if (pub.authors.length == 2) { %>
                            <% var sep = " and" %>
                        <% } else {%>
                        <%  var sep = ", and"%>
                        <% } %>
                    <% } else { %>
                        <% var sep = "" %>
                    <% } %>

                    <% if (pub.authors[i] == "PSC") {%>
                        <b>PSC</b><%- sep %>
                    <% } else {%>
                        <%=pub.authors[i]%><%- sep %>
                    <% } %>
                <% } %>
            </span>
            <br>
            <span class ="venue listing-venue"><%= pub.venue %></span> <span class="listing-year">(<%= pub.year %>)</span>
            <br>
            <p class="extra"><%= pub.extra %></p> 
            <% if (pub.categories) { %>
            <div class="pub-categories listing-categories">
                <% for (const category of pub.categories) { %>
                <div class="pub-category listing-category">
                    <%= category %>
                </div>
                <% } %>
            </div>
            <% } %>
        </div>
    <br>
    </div>
    <% } %>
</div>



```